<div class="row center-xs">
  <div class="col-xs-8 col-md-6">
    <div class="box">
        <h1>Información de contacto</h1>

        <h3>
            Correo:
            <p>
            information@gmail.com
            </p>
        </h3>

        <h3>
            Numero:
            <p>
            +57 310 6453954
            </p>
        </h3>

        <br>

        <h4>
           Andrew Ramirez, software engineering student
        </h4>

    </div>
  </div>      
</div>